<div class="row">
  @for (product of products; track product.id) {
  <div class="col-md-4">
    <div class="card product-card">
      <img
        [src]="product.image"
        class="card-img-top product-img"
        alt="{{ product.title }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">{{ product.price }} EGP</p>
        @if (product.onSale) {
        <p class="card-text">On Sale</p>
        }
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
  }
</div>
